@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Masque la scrollbar mais garde le scroll actif */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge */
}

.mask-text {
  -webkit-mask-image: text;
  -webkit-mask-image: none;
  mask-image: none;
  position: relative;
}

.mask-text h1 {
  position: absolute;
  font-size: 20vw;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: screen;
}


/* :root {
  --font-archivo: 'Archivo', sans-serif;
  --font-excon: 'Excon', sans-serif;
  --font-sentient: 'Sentient', serif;
  --color-jaune: #fcd309;
  --color-noir: #101010;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
} */

/* @theme inline {
  --font-archivo: var(--font-archivo);
  --font-excon: var(--font-excon);
  --font-sentient: var(--font-sentient);

  --color-jaune: var(--color-jaune);
  --color-noir: var(--color-noir);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
} */

.gradient-bg {
  background: linear-gradient(
    151deg,
    rgba(252, 211, 9, 0.7) 21.06%,
    #fff 37.98%
  );
}

.title {
  color: #fff;
  font-size: clamp(3rem, 15vw, 17rem);
  line-height: 1.05;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  mix-blend-mode: difference;
}

.gradient-universeeditfr-pattern {
  background-image: url('/images/pattren/pattern-dots-2.svg');
}

.gradient-bg-universeedit {
  background: linear-gradient(113deg, #000 0%, #000 55.44%, #fff 110.87%);
}

.glass-icon-jaune {
  border: 1px solid rgba(252, 213, 9, 0.2);
  background: rgba(252, 213, 9, 0.1);
}

.glass-bg-rect {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.glass-bg-rect2 {
  background: rgba(0, 0, 0, 0.4);
}

.title-detail-edit{
    mix-blend-mode: difference;
    font-size: clamp(3rem, 15vw, 17rem);
}

/* .dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
} */

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */