@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

/* Masque la scrollbar mais garde le scroll actif */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge */
}

.mask-text {
  -webkit-mask-image: text;
  -webkit-mask-image: none;
  mask-image: none;
  position: relative;
}

.mask-text h1 {
  position: absolute;
  font-size: 20vw;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: screen;
}

.masonry-column {
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:root {
  --font-archivo: 'Archivo', sans-serif;
  --font-excon: 'Excon', sans-serif;
  --font-sentient: 'Sentient', serif;
  --color-jaune: #fcd309;
  --color-noir: #101010;
}

@theme inline {
  --font-archivo: var(--font-archivo);
  --font-excon: var(--font-excon);
  --font-sentient: var(--font-sentient);

  --color-jaune: var(--color-jaune);
  --color-noir: var(--color-noir);
}

.gradient-bg {
  background: linear-gradient(
    151deg,
    rgba(252, 211, 9, 0.7) 21.06%,
    #fff 37.98%
  );
}

.title {
  color: #fff;
  font-size: clamp(3rem, 15vw, 17rem);
  line-height: 1.05;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  mix-blend-mode: difference;
}

.gradient-universeeditfr-pattern {
  background-image: url('/images/pattren/pattern-dots-2.svg');
}

.gradient-bg-universeedit {
  background: linear-gradient(113deg, #000 0%, #000 55.44%, #fff 110.87%);
}

.glass-icon-jaune {
  border: 1px solid rgba(252, 213, 9, 0.2);
  background: rgba(252, 213, 9, 0.1);
}

.glass-bg-rect {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.glass-bg-rect2 {
  background: rgba(0, 0, 0, 0.4);
}

.title-detail-edit{
    mix-blend-mode: difference;
}