@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

/* Masque la scrollbar mais garde le scroll actif */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge */
}

.mask-text {
  -webkit-mask-image: text;
  -webkit-mask-image: none;
  mask-image: none;
  position: relative;
}

.mask-text h1 {
  position: absolute;
  font-size: 20vw;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: screen;
}

.masonry-column {
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:root {
  --font-archivo: 'Archivo', sans-serif;
  --font-excon: 'Excon', sans-serif;
  --font-sentient: 'Sentient', serif;
  --color-jaune: #fcd309;
  --bg-jaune: #fcd309;
  --bg-noir: #101010;
}

@theme inline {
  --font-archivo: var(--font-archivo);
  --font-excon: var(--font-excon);
  --font-sentient: var(--font-sentient);

  --color-jaune: var(--color-jaune);
  --color-noir: var(--noir);

  --text-jaune: var(--bg-jaune);
  --border-jaune: var(--jaune);
}
